<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Productos</title>
</head>
<body>

<div>
    <h1>Bienvenido!</h1>
    <p>{{user.full_name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
    <p>{{user.rol}}</p>
    <a href="/api/sessions/logout"><button>Logout</button></a>
</div>
<h2>Lista de Productos</h2>

{{#each products.payload}}
  <div>
    <p>Título: {{title}}</p>
    <p>Descripción: {{description}}</p>
    <p>Precio: {{price}}</p>
    <p>Thumbnail: {{thumbnail}}</p>
    <p>Código: {{code}}</p>
    <p>Stock: {{stock}}</p>
    <p>Estado: {{status}}</p>
    <p>Categoría: {{category}}</p>
    <p>Id: {{id}}</p>
    
    <button onclick="addToCart('{{id}}')">Agregar al Carrito</button>
  </div>
{{/each}}

{{#if products.hasPrevPage}}
  <a href="{{products.prevLink}}">Página anterior</a>
{{/if}}

{{#if products.hasNextPage}}
  <a href="{{products.nextLink}}">Página siguiente</a>
{{/if}}

    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="/js/addCart.js"></script>
</body>
</html>